html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    background-image: url('inicio_1.png');
    background-size: cover;
    background-position: center;
    color: #004F83;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 4em;
    margin: 0;
    color: #004F83;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #004F83;
}

nav {
    background-color: #003366;
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #004F83;
}

.container {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.section {
    background-color: #C8D9E8;
    margin: 0;
    padding: 20px;
    box-shadow: none;
    min-height: calc(100vh - 60px); /* Altura de la sección menos la altura de la barra de navegación */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    scroll-margin-top: 0; /* Margen superior de la sección considerando la altura de la barra de navegación */
}

.section h2 {
    color: #004F83;
    text-align: center;
}

.section p {
    text-align: center;
    font-size: 1.2em;
}

.enterprise-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
}

.enterprise-item {
    width: 30%;
}

.enterprise-item ul {
    padding-left: 0;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.enterprise-item ul li::before {
    content: "•";
    color: #004F83;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.enterprise-item ul li {
    margin-left: 10em;
    text-align: left;
}

.enterprise-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.enterprise-item h3 {
    color: #004F83;
}

#equipo {
    position: relative;
}

#equipo h2 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #004F83;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

.team div {
    text-align: center;
    margin: 10px;
    animation: slideIn 0.5s ease-out;
}

.team img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.team-member.visible {
    opacity: 1;
    transform: translateX(0);
}

.sobre-nosotros-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.sobre-nosotros-text {
    width: 50%;
    padding-right: 20px;
}

.sobre-nosotros-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros-img img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    max-height: 100%; /* Asegura que la imagen no se desborde */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
}

.btn-acceder {
    background-color: #193e71;
    border: 3px solid #002655;
    color: #fff;
    padding: 15px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-acceder:hover {
    background-color: #466BAF;
}

footer {
    background-color: #004F83;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
}